<body>
    <h1>診断フォーム</h1>
    <form id="diagnosticForm">
        <p>質問1:どこの場所のニキビに悩んでいますか？</p>
        <input type="radio" name="question1" value="1"> おでこ
        <input type="radio" name="question1" value="2">鼻
        <input type="radio" name="question1" value="3"> 頬
        <input type="radio" name="question1" value="4"> 口周り
        <input type="radio" name="question1" value="5"> 背中
        <p>質問2: ニキビの状態を教えてください？</p>
        <input type="radio" name="question2" value="1"> 小さいブツブツがある(白ニキビ)
        <input type="radio" name="question2" value="2"> 毛穴の表面が黒くなっている(黒ニキビ)
        <input type="radio" name="question2" value="3"> 毛穴の表面が黒くなっている(黒ニキビ)
        <br>
        <input type="button" value="診断する" onclick="diagnose()">
    </form>

    <div id="result"></div>
    <input type="button" value="診断結果をリセットする" onclick="diagnoseResset()">

    <script>
        function diagnose() {
            const form = document.getElementById("diagnosticForm");
            const resultDiv = document.getElementById("result");

            // 質問1と質問2の回答を取得
            const answer1 = form.elements["question1"].value;
            const answer2 = form.elements["question2"].value;

            // ここで診断ロジックを追加
            let diagnosis = "診断結果: ";
            if (answer1 === "1" && answer2 === "1") {
                diagnosis = `
                    <h3>おでこ(白ニキビ状態)</h3>
                    <h4>特徴：</h4>
                    <p>毛穴に皮脂や汚れがたまっている状態。おでこは皮脂腺が多いため、てかりやすく、ニキビも発生しやすい部位です。</p>
                    <h4>原因：</h4>
                    <p>➀ 睡眠不足<br>➁ ホルモンバランスの乱れが原因で、発生します。</p>
                    <h4>治し方：</h4>
                    <p>
                        ➀ おでこを手で触らず、おでこに前髪がかからないような髪型にして、ニキビに刺激を与えないように注意する。また、髪を洗うときは、シャンプー・トリートメントをしっかりと洗い流すことが重要です。その際には、特に髪の生え際はクレンジング剤や洗顔料が残りがちですので、念入りにすすぎを行うようにしましょう。最後に、汚れを洗い流したあとはきちんと保湿を行うことで、ニキビ対策ができます。睡眠は7時間以上確保することを推奨します。<br>
                        ➁ 毛穴のつまり解消、皮脂の抑制、肌や粘膜の健康維持のため、以下の食材が重要です。<br>
                        ビタミンA：にんじん、ほうれん草、パセリ、レバー、うなぎ、卵など<br>
                        ビタミンB2：まいたけ、本しめじ、エリンギ、うなぎ、たらこ、卵黄
                    </p>
                    <h4>薬：</h4>
                    <p>
                        処方薬(外用薬)<br>
                        ➀ アダパレン：主に白ニキビや黒ニキビの治療に使われます。<br>
                        ➁ ベピオゲル：この薬に含まれる有機過酸化物の一種である過酸化ベンゾイルの、皮膚の古い角層を取り除く効果（ピーリング作用）と殺菌作用によって毛穴詰まりを改善するとともにニキビの悪化を防ぎます。<br>
                        ➂ アクネクリームW：「ペアアクネクリームW」は、有効成分のイブプロフェンピコノールが皮膚の炎症を抑え、イソプロピルメチルフェノールがアクネ菌を殺菌します。この薬は白ニキビから赤ニキビまで幅広いニキビの治療に効果が期待できます。
                    </p>
                `;
            } 
            else if(answer1 === "1" && answer2 === "2"){
                diagnosis = `
                    <h3>おでこ(赤ニキビ状態)</h3>
                    <h4>特徴：</h4>
                    <p>
                        処方薬(外用薬)<br>
                        ➀ アダパレン：主に白ニキビや黒ニキビの治療に使われます。<br>
                        ➁ ベピオゲル：この薬に含まれる有機過酸化物の一種である過酸化ベンゾイルの、皮膚の古い角層を取り除く効果（ピーリング作用）と殺菌作用によって毛穴詰まりを改善するとともにニキビの悪化を防ぎます。<br>
                        ➂ アクネクリームW：「ペアアクネクリームW」は、有効成分のイブプロフェンピコノールが皮膚の炎症を抑え、イソプロピルメチルフェノールがアクネ菌を殺菌します。この薬は白ニキビから赤ニキビまで幅広いニキビの治療に効果が期待できます。
                    </p>
                `;
            }
            else if(answer1 === "1" && answer2 === "3"){
                diagnosis =  `
                    <h3>おでこ(黒ニキビ状態)</h3>
                    <h4>特徴：</h4>
                    <p>
                        ➀ おでこを手で触らず、おでこに前髪がかからないような髪型にして、ニキビに刺激を与えないように注意する。また、髪を洗うときは、シャンプー・トリートメントをしっかりと洗い流すことが重要です。その際には、特に髪の生え際はクレンジング剤や洗顔料が残りがちですので、念入りにすすぎを行うようにしましょう。最後に、汚れを洗い流したあとはきちんと保湿を行うことで、ニキビ対策ができます。睡眠は7時間以上確保することを推奨します。<br>
                        ➁ 毛穴のつまり解消、皮脂の抑制、肌や粘膜の健康維持のため、以下の食材が重要です。<br>
                        ビタミンA：にんじん、ほうれん草、パセリ、レバー、うなぎ、卵など<br>
                        ビタミンB2：まいたけ、本しめじ、エリンギ、うなぎ、たらこ、卵黄
                    </p>
                `;
            }

            // 結果を表示
            resultDiv.innerHTML = diagnosis;
        }
        function diagnoseResset() {
            const resultDiv = document.getElementById("result");
            resultDiv.innerHTML = "";
        }
    </script>
</body>

